__pycache__/
apikey.json
headers.txt
launch.json
*.pkl
migrate.py
dumps/
cache/
cache2/
cache3/
selfish_mixing/
logs/
venv/
.venv/
*.har
*.bin
*.csv
*.out
*.ipynb
*.settings.json
fast_alternatives/
settings.json